.mainImg {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  border: 1px solid #e1e1e1;
}
.productImgs {
  width: 100%;
  margin-top: 20px;
}
.swiperSlide {
  overflow: hidden;
  border-radius: 10px !important;
  opacity: 0.5;
  border: 1px solid #e1e1e1;
  height: 100% !important;
  cursor: pointer;
}
